<h2 class="form-title">Add a Job</h2>

<form [formGroup]="jobForm" (ngSubmit)="submitJob()" class="job-form">
  <div class="form-group">
    <label>Title<span class="text-danger">*</span></label>
    <input formControlName="title" type="text" required />
    @if (jobForm.get('title')?.invalid && jobForm.get('title')?.touched) {
      <small class="text-danger">Title is required (max 100 characters).</small>
    }
  </div>

  <div class="form-group">
    <label>Company<span class="text-danger">*</span></label>
    <input formControlName="company" type="text" required />
    @if (jobForm.get('company')?.invalid && jobForm.get('company')?.touched) {
      <small class="text-danger">Company name is required (max 100 characters).</small>
    }
  </div>

  <div class="form-group">
    <label>Location</label>
    <input formControlName="location" type="text" placeholder="e.g.,  Cairo" />
    @if (jobForm.get('location')?.invalid && jobForm.get('location')?.touched) {
      <small class="text-danger">Location cannot exceed 100 characters.</small>
    }
  </div>

  <div class="form-group">
    <label>Employment Type<span class="text-danger">*</span></label>
    <select formControlName="employmentType">
      <option value="full-time">Full-time</option>
      <option value="part-time">Part-time</option>
      <option value="internship">Internship</option>
    </select>
  </div>

  <div class="form-group">
    <label>Description<span class="text-danger">*</span></label>
    <textarea formControlName="description"></textarea>
    @if (jobForm.get('description')?.invalid && jobForm.get('description')?.touched) {
      <small class="text-danger">Description is required.</small>
    }
  </div>

  <div class="form-group">
    <label>Requirements<span class="text-danger">*</span></label>
    <textarea formControlName="requirements"></textarea>
    @if (jobForm.get('requirements')?.invalid && jobForm.get('requirements')?.touched) {
      <small class="text-danger">Requirements are required.</small>
    }
  </div>

  <div class="form-group">
    <label>Skills (comma-separated)<span class="text-danger">*</span></label>
    <input formControlName="skills" type="text" placeholder="e.g., Angular, TypeScript" />
    @if (jobForm.get('skills')?.invalid && jobForm.get('skills')?.touched) {
      <small class="text-danger">Skills are required.</small>
    }
  </div>

  <div class="submit">
    <button type="submit" class="btn-submit" [disabled]="jobForm.invalid">Post Job</button>
  </div>
</form>
