<h2 class="applications-title">Applications for: {{ jobTitle }}</h2>

<section class="applications-wrapper">
  @if (applications.length === 0) {
    <p class="no-applications-msg">No applications submitted yet.</p>
  } @else {
    <ul class="application-list">
      @for (app of applications; track app._id) {
        <li class="application-card">
          <p><strong>Name:</strong> {{ app.candidateId.firstName }} {{ app.candidateId.lastName }}</p>
          <p><strong>Email:</strong> {{ app.candidateId.email }}</p>
          <p><strong>Phone:</strong> {{ app.candidateId.phone }}</p>
          <p><strong>Address:</strong> {{ app.candidateId.address }}</p>
          <p><strong>Date of Birth:</strong> {{ app.candidateId.dateOfBirth | date:'longDate'}}</p>
          <p><strong>Status:</strong> {{ app.status}}</p>
          <div class="text-center mt-4">
            <a [href]="'http://localhost:3000/' + app.resume" target="_blank" 
              class="btn btn-primary btn-lg rounded-pill px-4 py-2 shadow-sm resume-btn">
              <i class="bi bi-file-earmark-text fs-5"></i> View Resume
            </a>
          </div>
          @if(app?.coverLetter){
            <div class="text-center mt-4">
              <a [href]="'http://localhost:3000/' + app.coverLetter" target="_blank" 
                class="btn btn-primary btn-lg rounded-pill px-4 py-2 shadow-sm resume-btn">
                <i class="bi bi-file-earmark-text fs-5"></i> View Cover Letter
              </a>
            </div>
          }@else{
            <p><strong>Cover Letter:</strong> {{ app.coverLetter || 'N/A' }}</p>
          }

          <div class="status-update">
            <select [(ngModel)]="app.newStatus" class="form-select">
              <option value="" disabled>Select Status</option>
              @for (status of statuses; track status) {
                <option [value]="status">{{ status }}</option>
              }
            </select>
            <button class="btn btn-success mt-2" (click)="updateStatus(app)">Update Status</button>
          </div>
        </li>
      }
    </ul>
  }
</section>
