<section class="form-container">
  @if(isFormSubmitted){
  <span
    class="status-tag"
    [ngClass]="getStatusClass(applicationForm.get('status')?.value)"
    >{{ applicationForm.get("status")?.value }}</span
  >
  }@else{
  <span class="status-tag">Apply Now!</span>
  }

  <h2 class="form-title">Apply to This Job</h2>

  <form [formGroup]="applicationForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="jobId">Job ID</label>
      <input
        type="text"
        id="jobId"
        class="readOnly"
        formControlName="jobId"
        
      />
    </div>

    <div class="form-group">
      <label for="candidateId">Candidate ID</label>
      <input
        type="text"
        id="candidateId"
        class="readOnly"
        formControlName="candidateId"
        
      />
    </div>

    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" id="firstName" formControlName="firstName" />

      @if (applicationForm.controls['firstName']?.touched &&
      applicationForm.controls['firstName']?.errors?.['required']) {

      <span class="error">First name is required</span>

      }@else if (applicationForm.controls['firstName']?.touched &&
      applicationForm.controls['firstName']?.errors?.['maxlength']) {
      <span class="error">Max 50 characters allowed</span>
      }
    </div>

    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" id="lastName" formControlName="lastName" />

      @if (applicationForm.controls['lastName']?.touched &&
      applicationForm.controls['lastName']?.errors?.['required']) {
      <span class="error">Last name is required</span>
      } @else if (applicationForm.controls['lastName']?.touched &&
      applicationForm.controls['lastName']?.errors?.['maxlength']) {
      <span class="error">Max 50 characters allowed</span>
      }
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" formControlName="email" />

      @if (applicationForm.controls['email']?.touched &&
      applicationForm.controls['email']?.errors?.['required']) {
      <span class="error">Email is required</span>
      } @else if (applicationForm.controls['email']?.touched &&
      applicationForm.controls['email']?.errors?.['pattern']) {
      <span class="error">Please enter a valid email !</span>
      }
    </div>

    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="text" id="phone" formControlName="phone" />

      @if (applicationForm.controls['phone']?.touched &&
      applicationForm.controls['phone']?.errors?.['required']) {
      <span class="error">Phone is required</span>
      } @else if (applicationForm.controls['phone']?.touched &&
      applicationForm.controls['phone']?.errors?.['pattern']) {
      <span class="error">Please enter a phone number of 10 digits</span>
      }
    </div>

    <div class="form-group">
      <label for="address">Address</label>
      <input type="text" id="address" formControlName="address" placeholder="Country, City" />

      @if (applicationForm.controls['address']?.touched &&
      applicationForm.controls['address']?.errors?.['required']) {
      <span class="error">Address is required</span>
      } @else if (applicationForm.controls['address']?.touched &&
      applicationForm.controls['address']?.errors?.['maxlength']) {
      <span class="error">Max 100 characters allowed</span>
      }
    </div>

    <div class="form-group">
      <label for="resume">Resume/CV</label>
      <input type="file" id="resume" formControlName="resume" />
    </div>

    <div class="form-group">
      <label for="coverLetter">Cover Letter <small>(optional)</small></label>
      <input type="file" id="coverLetter" formControlName="coverLetter" (change)="onResumeFileSelected($event)" />
    </div>

    <div class="submit">
      <button type="submit" class="btn-submit">Submit Application</button>
    </div>
  </form>
</section>
