<div class="form-container">
  <h2 class="form-title">Apply for Job</h2>
  <form [formGroup]="applicationForm" (ngSubmit)="submitApplication()" enctype="multipart/form-data" novalidate>
    <div class="form-group">
      <label for="resume">Resume (PDF/DOCX)</label>
      <input type="file" formControlName="resume" (change)="onFileChange($event, 'resume')" required />

    </div>

    <div class="form-group">
      <label for="coverLetter">Cover Letter (optional)</label>
    <input type="file" formControlName="coverLetter" (change)="onFileChange($event, 'coverLetter')" />

    </div>

    <div class="submit">
      <button class="btn-submit" type="submit">Submit Application</button>
    </div>
  </form>
</div>